.adminLayout {
  display: flex;
  flex-flow: column nowrap;
  min-height: calc(100% - 64px);
  height: calc(100% - 64px);
  justify-content: space-between;

  &__container {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    min-height: 100%;
    height: 100%;
    overflow-y: hidden;
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    min-height: 64px;
    height: 64px;
    background-color: black;
    color: antiquewhite;
  }

  &__aside {
    position: relative;
    min-width: 273px;
    height: 100%;
  }

  &__content {
    width: 100%;
    padding: 1rem;
    overflow-y: auto;
  }
}

.logo {
  color: antiquewhite;
  text-decoration: none;

  &:hover {
    color: aliceblue;
  }
}
