.topMenu {
  width: 100%;
  background-color: rgb(26, 48, 10);
  color: aliceblue;
}

.brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

.toggleButton {
  display: block;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  color: rgba(255, 255, 255, 0.55);

  @media (min-width: 992px) {
    display: none;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem;
  }
}

.toggleIcon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbarCollapse {
  display: none;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1;

  @media (min-width: 992px) {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
  }

  &.navbarOpened {
    display: flex;
  }
}

.navbar {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 0;

  @media (min-width: 992px) {
    flex-flow: row nowrap;
  }
}

.navLink {
  display: block;
  padding: 0.5rem 0;
  margin-right: 1rem;
  color: rgba(255, 255, 255, 0.55);

  @media (min-width: 992px) {
    padding: 0.5rem 0.5rem;
  }
}

.rigthNavBar {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 0;

  @media (min-width: 992px) {
    flex-flow: row nowrap;
    margin-left: auto;
  }
}

.dropdown {
  position: relative;

  @media (min-width: 992px) {
    margin-right: 1rem;
  }
}

.dropdownToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.55);
  height: 100%;
  padding: 0.5rem 0;

  &:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: '';
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.125rem;
  z-index: 1000;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  margin-top: 0px;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.searchForm {
  display: flex;

  @media (min-width: 992px) {
    margin-left: auto;
  }
}

.searchInput {
  touch-action: manipulation;
  outline-offset: -2px;
  margin-right: 0.5rem;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: visible;
  box-sizing: border-box;

  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
}

.searchButton {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #198754;
  user-select: none;
  background-color: transparent;
  border: 1px solid #198754;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-transform: none;
  touch-action: manipulation;

  &:hover {
    color: #fff;
    background-color: #198754;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
  }
}

.logoutButton {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  touch-action: manipulation;
  color: #fff;
  background-color: #dc3545;

  &:hover,
  &:active {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
  }

  &:focus {
    outline: 0;
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
    text-decoration: none;
  }
}
