* {
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
}

body > div {
  height: 100%;
}

body {
  padding: 0;
  min-width: 320px;
  position: relative;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder {
  color: #5f5f5f;
}

::-moz-placeholder {
  color: #5f5f5f;
}

:-ms-input-placeholder {
  color: #5f5f5f;
}

.spinner-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #000;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.admin-content {
  position: relative;
  background-color: aliceblue;
}
