.appNavbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;

  @media (min-width: 992px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
