.baseLayout {
  width: 100%;
  height: 100%;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  &__content {
    position: relative;
    top: 56px;
  }
}
